<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/home']">Rent a vehicle</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/search']">Search</a></li>
            <li *ngIf="showUser()"><a [routerLink]="['/profile']">Profile</a></li>
            <li *ngIf="showUser()"><a [routerLink]="['/rents']">Rents</a></li>
            <li *ngIf="showAddType()"><a [routerLink]="['/addType']">Types</a></li>
            <li *ngIf="showAddType()"><a [routerLink]="['/notifications']">Notifications</a></li>
        </ul>

        <ul class="nav navbar-nav" id="secondList">
            <li *ngIf="!localStorageJWT()"><a [routerLink]="['/logIn']">Log in</a></li>
            <li *ngIf="!localStorageJWT()"><a  [routerLink]="['/register']">Register</a></li>
            <li *ngIf="localStorageJWT()"><a [routerLink]="['/home']" (click)="logout()" >Log out</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>



