<div>
  <h1>Add service</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="Name">Name</label>
      <input type="text" name="Name" ngModel>
    </div>
    <div>
      <label for="Logo">Logo</label>
      <input type="file" accept="image/*" name="Logo" ngModel>
    </div>
    <div>
      <label for="Email">Email</label>
      <input type="text" name="Email" ngModel>
    </div>
    <div>
      <label for="Description">Description</label>
      <input type="text" name="Description" ngModel>
    </div>
    <input type="submit" value="Add">
  </form>

  <ul>
    <li *ngFor="let service of services">
      {{service.Name}}, {{service.Description}}
    </li>
  </ul>
</div> 

