<div id="content">
    <h2>Add type</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" class="groove">
      <div class="form-group">
        <div class="col-sm"><label for="Name">Name</label></div>
        <div class="col-sm"><input type="text" name="Name" ngModel></div>
      </div>
      <input type="submit"class="btn btn-dark" value="Add">
    </form>

    <br /> <br />
    <h3>Types</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of types">
          <td contenteditable [textContent]="type.Name" (input)="type.Name=$event.target.textContent">{{type.Name}}</td>
          <td><button class="btn btn-dark btn-sm" (click)="update(type)" id="UDBtn">Update</button></td>
          <td><button class="btn btn-dark btn-sm" (click)="delete(type.Id)" id="UDBtn">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div> 
