<div id="content">
  <h2>Add service</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" class="groove">
    <div class="form-group">
      <div class="col-sm"><label for="Name">Name</label></div>
      <div class="col-sm"><input type="text" name="Name" ngModel></div>
    </div>
    <div class="form-group">
      <label for="Logo">Logo</label>
      <input type="file" accept="image/*" name="Logo" ngModel>
    </div>
    <div class="form-group">
      <div class="col-sm"><label for="Email">Email</label></div>
      <div class="col-sm"><input type="text" name="Email" ngModel></div>
    </div>
    <div class="form-group">
      <div class="col-sm"><label for="Description">Description</label></div>
      <div class="col-sm"><input type="text" name="Description" ngModel></div>
    </div>
    <input type="submit"class="btn btn-dark" value="Add">
  </form>
</div> 


