
    <h2>Add branch</h2>

<div id="div1">
        <agm-map id="map" [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="18" (mapClick)="placeMarker($event)">
          
           <!-- Postavljamo markere -->
           <agm-marker [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [title]="mapInfo.title"
           [label]="mapInfo.label">
       
             <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
             <agm-info-window [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" >
             </agm-info-window>
       
           </agm-marker>
         </agm-map>
        </div>
    
<div id="div2">
    <form #f="ngForm" class="groove">      
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" enctype = "multipart/form-data" />
        <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload an Image
      </button>
    </form>
    <form #f="ngForm" ngNativeValidate (ngSubmit)="onSubmit(f.value, f)" class="groove" enctype="multipart/form-data">
      <div class="form-group">
        <div class="col-sm"><label for="Address">Address</label></div>
        <div class="col-sm"><input type="text"  name="Address" ngModel required></div>
      </div>
      <div class="form-group">
        <div class="col-sm"><label for="Latitude">Latitude</label></div>
        <div class="col-sm"><input type="number" step="any" name="Latitude" [(ngModel)]=mapInfo.centerLat required></div>
      </div>
      <div class="form-group">
          <div class="col-sm"><label for="Longitude">Longitude</label></div>
          <div class="col-sm"><input type="number" step="any" name="Longitude"  [(ngModel)]=mapInfo.centerLong required></div>
        </div>
      <input type="submit"class="btn btn-dark" value="Add">
    </form>
  </div>

  
