<div id="content">
    <h2>Update service</h2>
  
    <form #f="ngForm" class="groove"> 
        <img [src]="service.Logo" height="100" width="120"/>
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" enctype = "multipart/form-data" />
  
        <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload an Image
      </button>
  </form>
  
    <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" class="groove">
      <div class="form-group">
        <div class="col-sm"><label for="Name">Name</label></div>
        <div class="col-sm"><input type="text" name="Name" [(ngModel)]="service.Name" required></div>
      </div>
      <div class="form-group">
        <div class="col-sm"><label for="Email">Email</label></div>
        <div class="col-sm"><input type="email" name="Email" [(ngModel)]="service.Email" required></div>
      </div>
      <div class="form-group">
        <div class="col-sm"><label for="Description">Description</label></div>
        <div class="col-sm"><input type="text" name="Description" [(ngModel)]="service.Description" required></div>
      </div>
      <input type="submit"class="btn btn-dark" value="Update">
    </form>
  </div> 
