div{
    font-size: 18px;
    margin-bottom: 10px;
    word-wrap: break-word; 
}

img{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 40px;
    color: rgb(216, 96, 53);
}

#serviceContainer{
    margin-left: 30px;
    margin-top: 30px;
}

#ser{
    margin-bottom: 50px;
}

button{
    background-color: lightsalmon;
}

div.groove {
    border-style: groove;
    border-color: coral;
    background-color: lightsalmon;
    width: 600px;
    padding: 20px;
}

div.groove2 {
    border-style: groove;
    border-color: coral;
    background-color:antiquewhite;
    width: 600px;
    padding: 20px;
    margin-left: 40px;
}

#title{
    font-size: 22px;
}
